.App {
  text-align: center;
}

.contact-card {
  display: flex;
  flex-direction:  row;
  justify-content:  center;
  margin: auto auto;
  margin-top: 3rem;
  background-color: rgb(10, 10, 29);
  width: fit-content;
  color: white;
}

.contact-information{
  margin-left:  2rem;
  padding-right: 1rem;
}